body {
    font-family: Arial, sans-serif;
    background-image: url('../assets/fondo_home.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario-container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    color: white;
}

label, select {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

button[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #008000;
}