*{
    margin: 0;
    padding: 0;
}

:root{
    --botones: #00000075;
}

body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-image: url(../assets/bg_partida.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/*JUGADA*/
.section_principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

div.mano_oponente{
    height: 15%;
    margin-top: 20px;
}

div.mano_oponente img{
    max-height: 150px;
}

.img_jugadas{
    height: 25%;

}

div.mano_mia{
    height: 35%;
}

div.mano_mia img{
    height: 100%;
}


/*/JUGADA*/

.section_eventos, .section_informacion{
    min-width: 300px;
}

.section_informacion{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 200px;
    font-size: 22px;
    text-align: center;
}

.section_informacion div{
    background-color: var(--botones);
    padding: 10px;
}

.span_equipos{
    display: block;
    padding: 10px;
    border-bottom: 2px solid rgb(140, 140, 140);
    font-family: Arial, Helvetica, sans-serif;
}

.puntos{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.section_eventos{
    margin-right: 5em;
    padding-top: 3em;
}

.section_eventos_botones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 0;
}
.boton_eventos {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background-color: var(--botones);
    color: white;
    border: 0;
}
.boton_eventos:hover {
    background-color: rgba(42, 189, 219, 0.567);
    scale: 1.02;
}

.btn-danger{
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(219, 30, 30);
    color: white;
    border-radius: 6px;
    border: 0;
}

.btn-danger:hover{
    scale: 1.02;
    background-color: rgb(154, 22, 22);
}

.popup{
    background-color: white;
    position: absolute;
    box-sizing: border-box;
    left: 35%;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    width: 600px;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 6px;
}

.popup div{
    display: flex;
    gap: 10px;

}



.boton{
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 3px solid #2690bd;
    color: #2690bd;
    border-radius: 6px;
}

.boton:hover{
    scale: 1.02;
    background-color: #2690bd2f;
}

@media (max-width: 1300px) {
    .section_eventos, .section_informacion{
        min-width: 200px;
        margin: 0;
    }
}

@media (max-width: 1000px) {

    .section_eventos, .section_informacion{
        z-index: 2;
    }

    .section_principal{
        position: absolute;
        bottom: 0;
        z-index: 1;
    }


}

.misCartas:hover{
    scale: 1.05;
}

.popup{
    background-color: white;
    gap: 20px;
    width: 50%;
    padding: 150px 100px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 22px;
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;

}

.misCartas{
    position: relative;

}

/* #carta1{
    bottom: 273px;
    left: 163px;
}

#carta2{
    bottom: 273px;
}

#carta3{
    bottom: 273px;
    right: 163px;
} */



@keyframes tirarCarta1 {
    0% {bottom: 0; left: 0;}
    100% { bottom: 273px; left: 163px; scale: 1.1;}
}

@keyframes tirarCarta2 {
    0% {bottom: 0;}
    100% { bottom: 273px;  scale: 1.1;}
}
@keyframes tirarCarta3 {
    0% {bottom: 0; left: 0;}
    100% { bottom: 273px; right: 163px; scale: 1.1;}
}
