<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home</title>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/home_style.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>
<div id="contenedor_principal_flex">
  <aside id="barra_lateral">
    <div class="d-flex justify-content-center mx-auto">
    <div id="container_logo">
      <img th:src="@{/assets/logo_principal_recortado.png}" alt="logo_principal_recortado">
    </div>
    <div class="container d-flex justify-content-center mx-auto">
        <form action="#" th:action="@{/IngresaraUsuario}"  method="POST"  class="w-75 mx-auto" th:object="${username_usuario}">
          <button class="btn-info btn-lg"  th:text="${usuario.username}" name="usuario_username" Type="Submit"></button>
          <input type="hidden" name="username_usuario" th:value="${usuario.username}">
        </form>
        <!--<h3 text="USERNAME" id="username">USERNAME</h3>-->
        <br>
        <h4 th:text="${usuario.nombre} +' '+ ${usuario.apellido}" class="h4 blockquote text-center" id="nombre_completo">Nombre Completo</h4>

      <!--<h4 text="NOMBRE Y APELLIDO" id="nombre_completo">Nombre Completo</h4>-->
    </div>
      <br>
    </div>
    <nav id="botonera">
      <ul id="lista_botones">
        <!-- <li class="botones_menu">
            <a href="./">INICIO</a>
        </li> -->
        <li class="botones_menu">
          <a href="salas.html">INICIAR NUEVO JUEGO</a>
        </li>

        <li class="botones_menu">
          <a href="ranking.html">RANKING</a>
        </li>
        <li class="botones_menu">
          <a href="https://es.wikipedia.org/wiki/Truco_argentino">REGLAS DEL JUEGO</a>
        </li>
      </ul>
    </nav>
    <div id="monedero">
      <h4>CREDITOS ACTUALES</h4>
      <span class="material-symbols-outlined">
                    monetization_on
                </span>
      <p id="creditos_cargados"> ARS$45.154</p>
      <!-- <span class="material-symbols-outlined">
          add_circle
          </span> -->
      <h4><a href="#" id="recargar_saldo">Recargar saldo</a></h4>
    </div>
  </aside>

</div>
<script src="./js/script.js"></script>
<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>