<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inicio de Sesión</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="overlay">
        <div class="formulario">
            <img th:src="@{/assets/logo.png}" class="img_titulo pb-5">
            <h2>Iniciar Sesión</h2>
            <span th:text="${pruebaHot}"></span>
            <form action="#" th:action="@{/validar-login}"  method="POST"  class="w-75" th:object="${datosLogin}">
                <div class="form-group">
                    <input th:field="*{user}" type="text" name="nombre_usuario" class="form-control" placeholder="Nombre de Usuario" >
                </div>
                <div class="form-group">
                    <input th:field="*{password}" type="password" name="contrasena" class="form-control" placeholder="Contraseña"  >
                </div>
                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
                </p>
                <button id="btn-login" class="btn" Type="Submit">Ingresar</button>
                <p th:if="${exitoso != null}" class="alert alert-primary" th:text="${exitoso}">
                </p>
                <a  href="singin" class="d-block p-2 vinculo">Crear cuenta</a>
            </form>
        </div>
        <div class="informacion">
            <div>
                <img class="img_titulo" th:src="@{/assets/titulo_truco.png}" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, odio cum atque, odit provident, adipisci quod ut ab reprehenderit quis libero voluptatum dicta voluptate magni deleniti excepturi? In necessitatibus corrupti recusandae voluptate aut vitae deserunt accusantium odit animi ad facere, sed, natus qui. Assumenda a itaque, praesentium sequi qui hic.</p>
            </div>
            <div>
                <img class="img_titulo" th:src="@{/assets/titulo_envido.png}" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, odio cum atque, odit provident, adipisci quod ut ab reprehenderit quis libero voluptatum dicta voluptate magni deleniti excepturi? In necessitatibus corrupti recusandae voluptate aut vitae deserunt accusantium odit animi ad facere, sed, natus qui. Assumenda a itaque, praesentium sequi qui hic.</p>
            </div>
        </div>
    </div>
</body>
</html>