<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" href="/css/partida.css" th:href="@{/css/partida.css}"/>
    <!--<link rel="stylesheet" type="text/css" href="../../../resources/core/css/partida2.css">-->
</head>
<body>
<button id="mostrarPopup" class="btn btn-lg btn-danger abandonar">Abandonar Partida</button>
<div id="popup" class="popup">
    <div class="popup-contenido">
        <span id="cerrarPopup" class="cerrar-popup">&times;</span>
        <h2>Confirma que desea abandonar la partida?</h2>
        <a href="index.html" id="abandonar">OK</a>
    </div>
</div>

<div class="contenedor-principal">
    <div class="capa-inferior">
        <div th:if="${cantidadJugadoresInt>=4}" class="player player1">
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
        </div>
        <div th:if="${cantidadJugadoresInt>=4}" class="player player2">
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
        </div>
        <div  th:if="${cantidadJugadoresInt==6}" class="player player3">
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
        </div>
        <div th:if="${cantidadJugadoresInt==6}" class="player player4">
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
        </div>
        <div  class="player5 player">
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
            <div class="carta"><img th:src="@{/assets/dorso_carta.png}"  class="img-fluid" /></div>
        </div>
    </div>
    <div class="capa-superior">
        <div class="scoreround">
            <div class="score-container">
                <div class="score-label">PUNTUACION</div>
                <div class="team container-fluid">
                    <img src="https://img.freepik.com/psd-gratis/ilustracion-3d-persona-gafas-sol-cabello-verde_23-2149436201.jpg?w=740&t=st=1694135110~exp=1694135710~hmac=d3b9cb04b6ba9c8a43ac267beac353c542ac84f1813f2044b3862961af21ff63" class="img-fluid  rounded" >
                    <div>
                        <div class="team-name">Cantidad de jugadores </div>
                        <div class="team-points" th:text="${cantidadJugadoresEnLaPartida}"></div>
                    </div>
                </div>
                <div class="team container-fluid">
                    <img src="https://img.freepik.com/psd-gratis/ilustracion-3d-persona-gafas-sol-cabello-verde_23-2149436201.jpg?w=740&t=st=1694135110~exp=1694135710~hmac=d3b9cb04b6ba9c8a43ac267beac353c542ac84f1813f2044b3862961af21ff63" class="img-fluid rounded" >
                    <div>
                        <div class="team-name">Equipo 2</div>
                        <div class="team-points">8</div>
                    </div>
                </div>
            </div>
            <div class="score-container">
                <div class="score-label">MANOS</div>
                <div class="mano">RONDA1</div>
                <div class="mano">RONDA2</div>
                <div class="mano">RONDA3</div>
            </div>
        </div>
        <div th:if="carta1" class="miscartas">
            <div class="miCarta image-container" id="sourceDiv1">
                <a th:if="${carta1}">
                    <img th:src="@{/assets/cartas/__${carta1.imagen}__}"  class="img-fluid carta-img" th:onclick="'moveImage(1, ' + ${usuario.id} +  ',' + ${carta1.id}+ ' )'"/>
                </a>
            </div>
            <div class="miCarta image-container" id="sourceDiv2">
                <a th:if="${carta2}">
                    <img th:src="@{/assets/cartas/__${carta2.imagen}__}"  class="img-fluid carta-img" th:onclick="'moveImage(2, ' + ${usuario.id} + ',' + ${carta2.id}+ ' )'"/>
                </a>
            </div>
            <div class="miCarta image-container" id="sourceDiv3">

                <a th:if="${carta3}">
                    <img th:src="@{/assets/cartas/__${carta3.imagen}__}"  class="img-fluid carta-img "t th:onclick="'moveImage(3, ' + ${usuario.id} + ',' + ${carta3.id}+ ' )'"/>
                </a>
            </div>
        </div>
        <div class="options-menu">
            <div class="round-label">Ronda 1</div>
            <div class="option-container">
                <button class="option-button">TRUCO</button>
            </div>
            <div class="option-container">
                <button class="option-button">RETRUCO</button>
            </div>
            <div class="option-container">
                <button class="option-button">VALE CUATRO</button>
            </div>
            <div class="option-container">
                <button class="option-button">ENVIDO</button>
            </div>
            <div class="option-container">
                <button class="option-button">REAL ENVIDO</button>
            </div>
            <div class="option-container">
                <button class="option-button">FALTA ENVIDO</button>
            </div>
            <div class="option-container">
                <button class="option-button">AL MAZO</button>
            </div>
            <div class="option-container">
                <button class="option-button">QUIERO</button>
            </div>
            <div class="option-container">
                <button class="option-button">NO QUIERO</button>
            </div>
        </div>

    </div>
    <!------------------------------------------------------------->
    <div class="capa-superior-juego">
        <div class="jugada">
            <div th:attr="class=${cantidadJugadoresInt>=4 ? 'jugada1 jugada-true' : 'jugada-false'}">
                <div class="tirada"></div>
            </div>
            <div  class="jugada5  jugada-true" id="tirada_jugador2">
                <div class="tirada">
                   </div>
            </div>
            <div th:attr="class=${cantidadJugadoresInt>=4 ? 'jugada2 jugada-true' : 'jugada-false'}">
                <div class="tirada"></div>
            </div>
            <div th:attr="class=${cantidadJugadoresInt==6 ? 'jugada3 jugada-true' : 'jugada-false'}">
                <div class="tirada"></div>
            </div>
            <div  class="jugada6 jugada-true">
                <div id="destinationDiv" class="image-container"></div>
            </div>
            <div th:attr="class=${cantidadJugadoresInt==6 ? 'jugada4 jugada-true' : 'jugada-false'}">
                <div class="tirada"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
<script th:src="@{/js/script.js}"></script>
<script th:inline="javascript">

    document.getElementById('mostrarPopup').addEventListener('click', function () {
        document.getElementById('popup').style.display = 'flex';
        document.getElementById('mostrarPopup').style.display = 'none';
    });

    document.getElementById('cerrarPopup').addEventListener('click', function () {
        document.getElementById('popup').style.display = 'none';
        document.getElementById('mostrarPopup').style.display = 'flex';
    });
</script>


</body>
</html>
