<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" href="/css/partida.css" th:href="@{/css/partida.css}"/>
    <!--<link rel="stylesheet" type="text/css" href="../../../resources/core/css/partida2.css">-->
</head>
<body>
<section class="section_informacion">
    <div class="equipos" id="equipo3">
        <span class="span_equipos" th:text="${usuarioJava.username}"></span>
        <p class="puntos">usuario actual</p>
    </div>
    <div class="equipos" id="equipo1">
        <span class="span_equipos" th:text="${equipo1}"></span>
        <p class="puntos">10</p>
    </div>
    <div class="equipos" id="equipo2">
        <span class="span_equipos" th:text="${equipo2}"></span>
        <p class="puntos">12</p>
    </div>
</section>


<section class="section_principal">

    <div class="mano_oponente" id="mano_oponente">
        <img th:src="@{/assets/cartas/carta_reverso.png}" alt="">
        <img th:src="@{/assets/cartas/carta_reverso.png}" alt="">
        <img th:src="@{/assets/cartas/carta_reverso.png}" alt="">
    </div>

    <img class="img_jugadas" id="jugada_oponente"  alt="">

    <img class="img_jugadas" id="jugada_mia"  alt="">

    <div class="mano_mia" id="mano_mia">
        <img th:if="${carta1}" id="carta1" th:src="@{/assets/cartas/__${carta1.imagen}__}"  th:onclick="'moveImage(this.id,this.src, ' + ${usuarioJava.id} +  ',' + ${carta1.id}+ ' )'" class="misCartas"/>
        <img th:if="${carta2}" id="carta2" th:src="@{/assets/cartas/__${carta2.imagen}__}"  th:onclick="'moveImage(this.id,this.src, ' + ${usuarioJava.id} +  ',' + ${carta2.id}+ ' )'" class="misCartas"/>
        <img th:if="${carta3}" id="carta3" th:src="@{/assets/cartas/__${carta3.imagen}__}"  th:onclick="'moveImage(this.id,this.src, ' + ${usuarioJava.id} +  ',' + ${carta3.id}+ ' )'" class="misCartas"/>
    </div>
</section>

<div class="popup"  id="popup2" style="display: none" >

</div>



<section class="section_eventos">
    <button id="mostrarPopup" class="btn btn-lg btn-danger abandonar">Abandonar Partida</button>
    <div id="popup" class="popup" style="display: none;">

        <!-- <span id="cerrarPopup" class="cerrar-popup">&times;</span> -->
        <h2>Si abandona la partida se le restaran puntos. Esta seguro que desea abandonar la partida?</h2>
        <div>
            <button  id="cerrarPopup" class="boton cerrar-popup">Continuar partida</button>
            <button  id="abandonar" class="btn-danger">Abandonar partida</button>
        </div>

    </div>
    <div class="options-menu">
        <div class="round-label">Ronda 1</div>
        <div class="option-container" th:if="${evento!= 'Le canto Retruco'} and ${evento!= 'Le canto Vale Cuatro'}" >
            <form action="#" th:action="@{/truco}"  method="POST"  class="w-75" th:object="${evento}">
                <button class="btn btn-primary" type="submit" value='truco' name="truco" >TRUCO</button>
            </form>
        </div>
        <div class="option-container" th:if="${evento== 'Le canto Truco'} and ${evento!= 'Le canto Vale Cuatro'}">
            <form action="#" th:action="@{/retruco}"  method="POST"  class="w-75" th:object="${evento}">
                <button class="btn btn-primary" Type="Submit" value="retruco"  name="retruco" >RETRUCO</button>
            </form>
        </div>
        <div class="option-container" th:if="${evento== 'Le canto Retruco'}">
            <form action="#" th:action="@{/vale_cuatro}"  method="POST"  class="w-75" th:object="${evento}">
                <button class="btn btn-primary" Type="Submit" value="vale_cuatro"  name="vale_cuatro" >VALE CUATRO</button>
            </form>
        </div>
        <div class="option-container" th:if="${evento!= 'Le canto Real Envido'} and ${evento!= 'Le canto Falta Envido'}">
            <form action="#" th:action="@{/envido}"  method="POST"  class="w-75" th:object="${evento}">
                <button class="btn btn-primary" Type="Submit" value="envido" name="envido" >ENVIDO</button>
            </form>
        </div>
        <div class="option-container" th:if="${evento== 'Le canto Envido'} and ${evento!= 'Le canto Falta Envido'}">
            <form action="#" th:action="@{/real_envido}"  method="POST"  class="w-75" th:object="${evento}">
                <button class="btn btn-primary" Type="Submit" value="real_envido" name="envido_envido" >ENVIDO ENVIDO</button>
            </form>
        </div>
        <div class="option-container" th:if="${evento== 'Le canto Envido'} and ${evento!= 'Le canto Falta Envido'}">
            <form action="#" th:action="@{/real_envido}"  method="POST"  class="w-75" th:object="${evento}">
                <button class="btn btn-primary" Type="Submit" value="real_envido" name="real_envido" >REAL ENVIDO</button>
            </form>
        </div>

        <div class="option-container" th:if="${evento== 'Le canto Real Envido'}">
            <form action="#" th:action="@{/falta_envido}"  method="POST"  class="w-75" th:object="${evento}">
                <button class="btn btn-primary" Type="Submit" value="falta_envido" name="falta_envido" >FALTA ENVIDO</button>
            </form>
        </div>

        <div th:if="${evento != null   }" class="option-container" >
            <h4  class=" rounded-pill border border-3 border border-primary text-primary" th:color="white" th:text="${evento}"></h4>

            <div th:if=" ${evento!= 'Quiero'} and ${evento!= 'No Quiero'} and ${evento!= 'Me voy al maso'}" class="alert alert-danger">
                <div class="option-container">
                    <form action="#" th:action="@{/quiero}"  method="POST"  class="w-75" th:object="${evento}">
                        <button class="btn btn-success" Type="Submit"  value="quiero" name="quiero" >QUIERO</button>
                    </form>
                </div>
                <div class="option-container">
                    <form action="#" th:action="@{/no_quiero}"  method="POST"  class="w-75" th:object="${evento}">
                        <button class="btn btn-danger" Type="Submit" value="no_quiero"  name="no_quiero" >NO QUIERO</button>
                    </form>
                </div>
                <div class="option-container">
                    <form action="#" th:action="@{/al_maso}"  method="POST"  class="w-75" th:object="${evento}">
                        <button class="btn btn-warning" Type="Submit" value="al_maso" name="al_maso" >AL MAZO</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
<script th:src="@{/js/script.js}"></script>
<script th:inline="javascript">

    document.getElementById('mostrarPopup').addEventListener('click', function () {
        document.getElementById('popup').style.display = 'flex';
        document.getElementById('mostrarPopup').style.display = 'none';
    });

    document.getElementById('cerrarPopup').addEventListener('click', function () {
        document.getElementById('popup').style.display = 'none';
        document.getElementById('mostrarPopup').style.display = 'flex';
    });

    document.getElementById('abandonar').addEventListener('click', function () {
        window.location.href = "/spring/home2";
    });
</script>


</body>
</html>
