<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" href="/css/partida.css" th:href="@{/css/partida.css}"/>
    <!--<link rel="stylesheet" type="text/css" href="../../../resources/core/css/partida2.css">-->
</head>
<body>
<section class="section_informacion">
    <div th:if="${evento != null}" class="equipos" id="evenctoCantado">
        <span class="span_equipos" th:text="${evento.nombre}"></span>
        <p class="puntos">12</p>
    </div>
    <div class="equipos" id="equipo1">
        <span class="span_equipos" th:text="${equipo1}"></span>
        <p class="puntos" th:text="${equipo1_pto}"></p>
    </div>
    <div class="equipos" id="equipo2">
        <span class="span_equipos" th:text="${equipo2}"></span>
        <p class="puntos" th:text="${equipo2_pto}"></p>
   </div>
</section>


<section class="section_principal" id="section_principal">

    <div class="mano_oponente" id="mano_oponente">
        <img th:src="@{/assets/cartas/carta_reverso.png}" alt="">
        <img th:src="@{/assets/cartas/carta_reverso.png}" alt="">
        <img th:src="@{/assets/cartas/carta_reverso.png}" alt="">
    </div>

    <img class="img_jugadas" id="jugada_oponente"  alt="">

    <img class="img_jugadas" id="jugada_mia"  alt="">

    <div class="mano_mia" id="mano_mia">
        <img th:if="${carta1}" id="carta1" th:src="@{/assets/cartas/__${carta1.imagen}__}"  th:onclick="'moveImage(this.id,this.src, ' + ${usuarioJava.id} +  ',' + ${carta1.id}+ ' )'" class="misCartas"/>
        <img th:if="${carta2}" id="carta2" th:src="@{/assets/cartas/__${carta2.imagen}__}"  th:onclick="'moveImage(this.id,this.src, ' + ${usuarioJava.id} +  ',' + ${carta2.id}+ ' )'" class="misCartas"/>
        <img th:if="${carta3}" id="carta3" th:src="@{/assets/cartas/__${carta3.imagen}__}"  th:onclick="'moveImage(this.id,this.src, ' + ${usuarioJava.id} +  ',' + ${carta3.id}+ ' )'" class="misCartas"/>
    </div>


    <!-- mensaje izquierda -->
    <div class="receptor" id="receptor" style="display: none">

    </div>
    <!-- mensaje derecha -->
    <div class="emisor" id="emisor" style="display: none">

    </div>
</section>

<div class="popup"  id="popup2" style="display: none" >

</div>

<div  class="popup"  id="popup3"  style="display: none" >
    <h1 class="neonText">¡¡ Ronda terminada !!</h1>
    <p>El ganador es rocioCrespo200</p>
</div>



<section class="section_eventos">
    <button id="mostrarPopup" class="btn btn-lg btn-danger abandonar">Abandonar Partida</button>
    <div id="popup" class="popup" style="display: none;">

        <!-- <span id="cerrarPopup" class="cerrar-popup">&times;</span> -->
        <h2>Si abandona la partida se le restaran puntos. Esta seguro que desea abandonar la partida?</h2>
        <div>
            <button  id="cerrarPopup" class="boton cerrar-popup">Continuar partida</button>
            <button  id="abandonar" class="btn-danger">Abandonar partida</button>
        </div>

    </div>

    <form class="section_eventos_botones" method="post" action="crearEvento" id="eventos">

    </form>

</section>

<div class="bloquear" id="bloquear" style="display: none">
    <p>Esperando respuesta ...</p>
</div>

<div class="bloquear" id="bloquear2" style="display: none">
    <p></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
<script th:src="@{/js/eventos.js}"></script>
<script th:src="@{/js/script.js}"></script>

<script th:inline="javascript">

    document.getElementById('mostrarPopup').addEventListener('click', function () {
        document.getElementById('popup').style.display = 'flex';
        document.getElementById('mostrarPopup').style.display = 'none';
    });

    document.getElementById('cerrarPopup').addEventListener('click', function () {
        document.getElementById('popup').style.display = 'none';
        document.getElementById('mostrarPopup').style.display = 'flex';
    });

    document.getElementById('abandonar').addEventListener('click', function () {
        window.location.href = "/spring/home2";
    });

    // let carta1 = document.getElementById('carta1');
    // carta1.addEventListener('click', (e )=> {
    //     carta1.style.zIndex = '200';
    //     carta1.style.animationName = 'tirarCarta1';
    //     carta1.style.animationDuration = '0.5s';
    //     carta1.style.animationTimingFunction = 'linear';
    // })
    // let carta2 = document.getElementById('carta2');
    // carta1.addEventListener('click', (e )=> {
    //     carta1.style.zIndex = '200';
    //     carta1.style.animationName = 'tirarCarta2';
    //     carta1.style.animationDuration = '0.5s';
    //     carta1.style.animationTimingFunction = 'linear';
    // })
    // let carta3 = document.getElementById('carta3');
    // carta1.addEventListener('click', (e )=> {
    //     carta1.style.zIndex = '200';
    //     carta1.style.animationName = 'tirarCarta3';
    //     carta1.style.animationDuration = '0.5s';
    //     carta1.style.animationTimingFunction = 'linear';
    // })
</script>


</body>
</html>
