<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Perfil</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<div class="container">
    <div class="main-body m-5">



        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>Usuario</h4>

                                <button class="btn btn-success">Agregar</button>
                                <button class="btn btn-outline-success">Invitar

                                </button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">


                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Total Partidas Jugadas</h6><h6>50</h6>

                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Ganadas</h6> <h6>50</h6>

                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Perdidas</h6> <h6>50</h6>

                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Torneos</h6> <h6>50</h6>

                        </li>  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">Torneos ganados</h6>  <h6>50</h6>

                    </li>

                    </ul>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"  > Nombre </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Kenneth
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Apellido</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Morita
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                               mori@mori.com
                            </div>
                        </div>
                        <hr>


                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-outline-success " target="__blank" href="">Editar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card ">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Historil de Partidas</h6>
                                <ul class="list-group list-group-flush justify-content-lg-around" >
                                    <a href=""><li class="list-group-item"><span>Nombre usuario </span><span class="mr0">30-26</span></li></a>
                                    <a href=""><li class="list-group-item"><span>Nombre usuario </span><span class="mr0">30-26</span></li></a>
                                    <a href=""><li class="list-group-item"><span>Nombre usuario </span><span class="mr0">30-26</span></li></a>


                                </ul>
                                <div class="m-2"> <button class="btn btn-outline-success ">Ver Todo

                                </button></div>

                            </div>
                        </div>


                    </div>
                    <div class="col-sm-6 ">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center ">Dinero Disponible</h6>
                                <h2>$50000,00</h2>
                                <div class="align-bottom"> <button class="btn btn-success ">Comprar

                                </button></div>
                            </div>
                        </div>


                    </div>

                </div>



            </div>
        </div>

    </div>
</div>

</body>
</html>