<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 class="h1 blockquote text-center">Esperando al resto de jugadores</h1>

<div class="overlay d-flex justify-content-center mx-auto">
    <div class=" d-flex justify-content-center mx-auto">
        <div class="container mx-auto">
        <form action="#" th:action="@{/partida}"  method="POST"  class="w-75 mx-auto">

            <button  class="btn-lg btn-success" Type="Submit" >Sala completa</button>
        </form>
        </div>
    <br>
            <div class="container mx-auto">
            <form action="#" th:action="@{/abandonarsala}"  method="POST"  class="w-75 mx-auto" th:object="${nombre_sala}">

                <button  class="btn-lg btn-danger" Type="Submit">Abandonar Sala</button>
                <input type="hidden" name="nombre_sala" th:value="${nombre_sala}">

            </form>
        </div>
        </div>
</div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
<script th:src="@{/js/conexionWebSocket.js}"></script>