<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="overlay">
    <div class="formulario">
        <h2>Salas</h2>
        <div   th:if="${ninguna_sala == null}" >
            <div th:each="salas : ${ListadeSalas}">
                <div class="container">
                    <form action="#" th:action="@{/ingresar_a_sala}"  method="POST"  class="w-75" th:object="${nombre_sala}">
                        <p th:text="${salas.nombre_sala}" name="nombre_sala"> </p>
                        <p th:text="${salas.cantidad_de_jugadores_en_sala} + '/'+ ${salas.cantidadMaximaJugadores}"></p>



                        <button class="btn" Type="Submit">Ingresar</button>
                        <br>

                    </form>
                </div>

            </div>
        </div>


        <form action="#" th:action="@{/crear_sala}"  method="POST"  class="w-75">

            <p th:if="${ninguna_sala != null}" class="alert alert-danger" th:text="'Error ' + ${ninguna_sala}">
            </p>
            <button id="btn-login2" class="btn" Type="Submit">Crear Sala</button>



    </div>
</div>


</body>
</html>