<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="overlay">
    <div class="formulario">
        <h2>Esperando al resto de jugadores</h2>
        <p th:text="${nombre_sala}"></p>

        <p th:text="${cantidadJugadoresInt}"></p>

        <form th:if="${cantidadJugadoresInt == 2}" action="#" th:action="@{/partida}"  method="POST"  class="w-75">

            <button id="btn-login" class="btn" Type="Submit">Sala completa</button>


        </form>
        <br>
        <form action="#" th:action="@{/abandonarsala}"  method="POST"  class="w-75" th:object="${nombre_sala}">

            <button id="btn btn-danger" class="btn btn-danger" Type="Submit">AbandonarSala</button>
                <input type="hidden" name="nombre_sala" th:value="${nombre_sala}">

        </form>
    </div>
</div>
</body>
</html>